<div id=":2mn" class="ii gt" jslog="20277; u014N:xr6bB; 4:W251bGwsbnVsbCxbXV0.">
  <div id=":2mm" class="a3s aiL msg-7299350180795165922">
    <div class="adM"></div>
    <u></u>

    <div
      style="
        background-color: #f6f6f6;
        font-family: sans-serif;
        font-size: 14px;
        line-height: 1.4;
        margin: 0;
        padding: 0;
      "
    >
      <table style="border-collapse: separate; width: 100%">
        <tbody>
          <tr>
            <td style="font-family: sans-serif; vertical-align: top">&nbsp;</td>
          </tr>
          <tr>
            <td style="font-family: sans-serif; vertical-align: top">&nbsp;</td>
            <td
              class="m_-7299350180795165922container"
              style="
                font-family: sans-serif;
                vertical-align: top;
                display: block;
                max-width: 580px;
                margin: 0 auto !important;
              "
            >
              <table
                class="m_-7299350180795165922body"
                style="
                  border-collapse: separate;
                  width: 100%;
                  background-color: #ffffff;
                  border-radius: 4px;
                  padding: 20px;
                "
              >
                <tbody>
                  <tr>
                    <td style="font-family: sans-serif; vertical-align: top; text-align: center;display: flex">
                        <img src="https://blogofile.herokuapp.com/BlogoFile.png" width="40px" height="40px" style="margin-top: 27px;margin-right: 10px;" alt="">
                     <h4 style="font-size: 25px;color: #343434;font-weight: 600;">BlogoFile</h4>
                    </td>
                  </tr>
                  <tr>
                    <td style="font-family: sans-serif; vertical-align: top">
                      &nbsp;
                    </td>
                  </tr>
                  <tr>
                    <td style="font-family: sans-serif; vertical-align: top">
                      <p
                        style="
                          margin-bottom: 16px;
                          margin-top: 0;
                          color: #343434;
                        "
                      >
                        <img
                          data-emoji="👋"
                          class="an1"
                          alt="👋"
                          aria-label="👋"
                          src="https://fonts.gstatic.com/s/e/notoemoji/14.0/1f44b/32.png"
                          loading="lazy"
                        />
                        - Hey {{user_name}}!
                      </p>
                      <p
                        style="
                          margin-bottom: 16px;
                          margin-top: 0;
                          color: #343434;
                        "
                      >
                        Click the link below to set a new password for your
                        <b>BlogoFile</b> account
                      </p>
                    </td>
                  </tr>
                  <tr>
                    <td
                      class="m_-7299350180795165922button"
                      style="
                        font-family: sans-serif;
                        vertical-align: top;
                        background-color: #7c41ff;
                        border-radius: 12px;
                        font-size: 16px;
                        line-height: 24px;
                        padding: 12px 24px;
                        text-align: center;
                        width: 100%;
                      "
                    >
                      <a
                        href="{{token}}"
                        style="
                          color: #ffffff;
                          font-weight: bold;
                          text-decoration: none;
                        "
                        target="_blank"
                        data-saferedirecturl="https://www.google.com/url?q=https://url1741.linktr.ee/ls/click?upn%3Daxe8GPJJyyQBzzRlsziXFeg1hMGHzClUmYHCGyL-2FtFStJm86IoeGIet6FXNMwahDOq2t8MkvtWlZQl7D95g8BWO34u7GuJUP8O3BhJbVJEE-3DZL3a_aLvKPkx8WizfMi8sD0taoapHPqJn-2FMpWgYZM6v4MG4IiqnyF3Csh1iYga-2BKqNbHujTrwkwm5lZ8aChh3CeySyVda9c7blOD-2FL5jPBBplCBz2vBE7VZhEVPqYkwG2bKtSHTlaBoN1-2Bj0SPtI0KENtOzP0SVecdCCpJYbQ8Zqe7v5sBqg9lpp4Eodld-2FHTVTPfbbrhnhnrRRuBgZJxHt-2BT54dwyZSoT9jrygbL556uXTc-3D&amp;source=gmail&amp;ust=1645765762394000&amp;usg=AOvVaw3biMD0r9bufulzAn_Z6csC"
                      >
                        Change Password
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td style="font-family: sans-serif; vertical-align: top">
                      &nbsp;
                    </td>
                  </tr>
                  <tr>
                    <td style="font-family: sans-serif; vertical-align: top">
                      <p
                        style="
                          margin-bottom: 16px;
                          margin-top: 0;
                          color: #343434;
                        "
                      >
                        Thanks,<br />
                        The BlogoFile team
                      </p>
                    </td>
                  </tr>
                </tbody>
              </table>
              <table
                class="m_-7299350180795165922footer"
                style="
                  border-collapse: separate;
                  width: 100%;
                  font-size: 12px;
                  text-align: center;
                  padding: 20px;
                "
              >
                <tbody>
                  <tr>
                    <td style="font-family: sans-serif; vertical-align: top">
                      <a
                        href="https://url1741.linktr.ee/ls/click?upn=axe8GPJJyyQBzzRlsziXFYQHnCduH4zGedfWfFjjvec-3Ds596_aLvKPkx8WizfMi8sD0taoapHPqJn-2FMpWgYZM6v4MG4IiqnyF3Csh1iYga-2BKqNbHujTrwkwm5lZ8aChh3CeySyTWOM9fmvKsuicGoRzpYMxNUfyTiBRqmt7C8LScXJdBtuwJLKuekty3-2F-2FJ2SEQ1RuTXjApEETGXafL2F-2BjDg3PFzE3T5iEP0tCqglaQWfwVymP26nCIO5cCv66XbVUZSnGFIfItdmARXm6hy5xNWvxc-3D"
                        rel="noopener"
                        style="color: #999999"
                        target="_blank"
                        data-saferedirecturl="https://www.google.com/url?q=https://url1741.linktr.ee/ls/click?upn%3Daxe8GPJJyyQBzzRlsziXFYQHnCduH4zGedfWfFjjvec-3Ds596_aLvKPkx8WizfMi8sD0taoapHPqJn-2FMpWgYZM6v4MG4IiqnyF3Csh1iYga-2BKqNbHujTrwkwm5lZ8aChh3CeySyTWOM9fmvKsuicGoRzpYMxNUfyTiBRqmt7C8LScXJdBtuwJLKuekty3-2F-2FJ2SEQ1RuTXjApEETGXafL2F-2BjDg3PFzE3T5iEP0tCqglaQWfwVymP26nCIO5cCv66XbVUZSnGFIfItdmARXm6hy5xNWvxc-3D&amp;source=gmail&amp;ust=1645765762394000&amp;usg=AOvVaw3mc1-bFrgi8nhVYFZeEzEh"
                        >https://blogofile.herokuapp.com</a
                      >
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
            <td style="font-family: sans-serif; vertical-align: top">&nbsp;</td>
          </tr>
        </tbody>
      </table>
      <img
        src="https://ci3.googleusercontent.com/proxy/fbHi-Q4j7Wd9KAK8LpY1e0lMXqUmBaI0BGqOW4IIxNbXp27g23RdSYV83cxvpeXyYivn-F5HvKtZL43yUH9kxDuR_X4CibCJf-dRDwCgmfLnz1Vg6_bXz9EMocJyjhKa6NddDkPyDLLNDI80w_vbbeXQfwdzbbnuqoep9CpT0e3bLXm84rzUNQiNDQOV4hhGpsbsDZm7wcba8REw624JfBtguOKQo10Nj3OL3sbuMQbCKJjYT0VYGmQhhUJjCo-NDAXlZJ7VN2yGiufTuN3HWL2OKbMx93qcQrG59U4jKJTL6dyPZgNzYqvpFHH8MylPgcpBOoCFHoXjmVIQ56Mp9hXULI2hU29_OJjO4pe4tLp6iDEQNOMbyJSfznw99EksRGzC9UZ3j4Athbu9dFk9QXdCp5ZownHD1QROaA=s0-d-e1-ft#https://url1741.linktr.ee/wf/open?upn=NVB49FzMRzFW-2B6CVavvgD87tZMwNwCS0vE4j9WpVUWBcggJzMkayF7q0RetjSB3OZ7-2FCLqjoioyGSWIug2OvmpB8kd4Ai-2FBlUO7-2Bal9E36wiNGOKyn24FsvXNosllTjJd-2B3hfVVnN6ucJsEN2hnzbsg7vnLykxN-2BkbRiUNpWkv9PhkS-2FNk9Jq8QIZTE-2F10vqc-2FlM-2F5gZ4kSp7weT2jXJdN6yZ9fwUGteTfI4qqTDD2g-3D"
        alt=""
        width="1"
        height="1"
        border="0"
        style="
          height: 1px !important;
          width: 1px !important;
          border-width: 0 !important;
          margin-top: 0 !important;
          margin-bottom: 0 !important;
          margin-right: 0 !important;
          margin-left: 0 !important;
          padding-top: 0 !important;
          padding-bottom: 0 !important;
          padding-right: 0 !important;
          padding-left: 0 !important;
        "
        class="CToWUd"
        jslog="138226; u014N:xr6bB; 53:W2ZhbHNlXQ.."
      />
    </div>
    <div class="yj6qo"></div>
    <div class="adL"></div>
  </div>
</div>
